header
	#logo
	#nav
		if (loggedIn)
			ul
				li: a Dashboard
				li: a Upload article
				li: a My articles
				if (admin)
					li: a Manage users
					li: a Review articles
				li: a Log out
		else
			ul
				li: a Log in