body {
  padding-top: 50px;
  padding-bottom: 70px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#logo h1 {
	text-align: center;
	padding-bottom: 20px;
}
#stories .thumbnail {
	border: hidden;
}
.row h3 {
	text-align: center;
	padding-bottom: 20px; 
}
#myCarousel {
	padding-top: 20px;
}
.navbar-nav > li > a {
	padding-top: 5px !important; padding-bottom: 5px !important;
}
.navbar {
	min-height: 30px !important
}
#mainNav .navbar-default {
	background-color: transparent !important;
}