 body {
   padding-bottom: 70px;
   font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 }
 a {
   color: #00b7ff;
 }
 #carousel body {
     padding-top: 20px;
 }
 #carousel .nav a small {
     display: block;
 }
 #carousel .nav {
     background: #eee;
 }
 .nav-justified > li > a {
     border-radius: 0px;
 }
 .nav-pills > li[data-slide-to="0"].active a {
     background-color: #b4d9a7;
 }
 .nav-pills > li[data-slide-to="1"].active a {
     background-color: #4f77cb;
 }
 .nav-pills > li[data-slide-to="2"].active a {
     background-color: #d11e4f;
 }
 #logo h1 {
		text-align: center; 
 }
