header
	#social
		.menu
			.top
				ul
					li: a facebook
					li: a twitter
					li: a instagram
	#logo
		p Veracity 
		//- img(src="images/logo.png" alt="veracity magazine")
	#navbar
		.mainNav
			ul
				li: a Journey 
				li: a Life &amp; Culture 
				li: a Campus Life  
	