doctype html
html(lang="en")
	head
		//link css and javascript files in head.jade
		include page/head
	body
		//header.jade is logo, nav bar
		include page/header
		//every page starts with .container,
		//no need to put on any other page
		.container
			block content
		//footer.jade is copyright info, more links
		include page/footer
		//bootstrap/jquery already in jsdefaults.jade
		//add any other packages we need
		include page/jsdefaults