extends ./layout

block content
	.row.text-center
		h1.col-sm-4.col-sm-offset-4=title
		.col-sm-4.col-sm-offset-4
			if (error)
				.alert.alert-danger(role="alert")=error
	.row
		.col-sm-4.col-sm-offset-4.well
			form.form-horizontal(enctype="multipart/form-data", role="form", action="/user/login", method="post", name="login")
				.form-group
					label.col-sm-4.control-label(for="email") Email:
					.col-sm-8
						if (email)
							input.form-control#email(type="email", name="useremail", value=email)
						else
							input.form-control#email(type="email", name="useremail")
				.form-group
					label.col-sm-4.control-label(for="password") Password:
					.col-sm-8
						if (password)
							input.form-control#password(type="password", name="userpassword", value=password)
						else
							input.form-control#password(type="password", name="userpassword")
				.form-group
					.col-sm-8.col-sm-offset-4
						.checkbox
							input(type="checkbox", name="userremember")
							|Remember Me
				.form-group
					.col-sm-8.col-sm-offset-4
						button.btn.btn-default(type="submit") Sign In