extends ./layout

block content
	form#formUploadArticle.form-horizontal(enctype="multipart/form-data", name="uploadarticle", method="post", action="/user/uploadarticle", role="form")
		.form-group
			label.control-label.col-sm-2(for="#title") Title
			.col-sm-8
				input#title.form-control(required, type="text", name="title")
		.form-group
			label.control-label.col-sm-2(for="#myID") Author
			.col-sm-2.text-center
				input#myID(required, type="hidden", name="author", value=current._id)
				p#myname=current.name.full
			.col-sm-2
				button#add.btn.btn-success(type="button", title="Add author")
					span.glyphicon.glyphicon-plus 
		.form-group.hidden
			.col-sm-2.col-sm-offset-2
				select.form-control(name="author")
					option(selected, disabled)
					each user, i in userlist
						option(value="#{user._id}") #{user.name.full}
			.col-sm-2
				button.remove.btn.btn-danger(type="button", title="Remove author")
					span.glyphicon.glyphicon-minus
		.form-group
			label.control-label.col-sm-2(for="#section") Section
			.col-sm-3
				select#section.form-control(required, name="section")
					option(selected, disabled)
					option Journey
					option Bloom
					option Campus
					option Gray Area
					option Life &amp; Culture
					option Vera in the City
		.form-group
			label.control-label.col-sm-2(for="#content") Body
			.col-sm-8
				#body.form-control
				input#content.form-control(required, type="hidden", name="body")
		.form-group
			label.control-label.col-sm-2(for="#tags") Tags
			.col-sm-4
				input#tags.form-control(required, type="text", name="tags", placeholder="Separate each tag with a comma")
		.form-group
			.col-sm-offset-2.col-sm-2
				button#submit.btn.btn-primary(type="submit") Submit