extends ../index.jade
block content
	#article
		h1.storyTitle
			TITLE GOES HERE
	#storyPic
		img.img-responsive.center-block(src="/images/300x200.jpg", alt="...")
	#story
		p.subhead SUBHEAD SUBHEAD
		p.byline BYLINE 
		p.story TEXT TEXT TEXT