extends ../index.jade
block content
	h1 Campus Life
	#stories
		.row
			.col-xs-12.col-md-8
				.row
					.col-md-12
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Campus Life
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more.row
					.col-md-6
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Campus Life
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more
					.col-md-6
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Campus Life
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more
				.row
					.col-md-6
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Campus Life
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more
					.col-md-6
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Campus Life
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more
			.col-xs-12.col-md-4
				h3 Gray Area
				.thumbnail
					a(href="#") 
						img(src="/images/300x200.jpg", alt="...")
					.caption
						h4 Gray Area 
						p blah blah blah 
						p
							a(href="#") read more
		