#formAddUser .form-control,
#formUploadArticle [type='submit'] {
	margin: 5px;
}

.role .input-group {
	width: 150px;
}

#message {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7000;
}