#formAddUser .form-control {
	margin: 5px;
}

#formAddUser #inputEmail {
	width: 300px;
}

#formAddUser #inputRole {
	width: 170px;
}

.role .input-group {
	width: 150px;
}

#users .demote,
#users .promote,
#users .reset,
#users .remove {
	visibility: visible;
	opacity: 0.0;
}

#message {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
  z-index: 7000;
}