@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/bebas-neue/BebasNeue.otf');
}
@font-face {
	font-family: 'Verlag Book';
	src: url('/fonts/verlag/Verlag-Book.otf');
}	
@font-face {
	font-family: 'Verlag Book Italic';
	src: url('/fonts/verlag/Verlag-BookItalic.otf');
}
@font-face {
	font-family: 'Minion Pro';
	src: url('/fonts/minion-pro/MinionPro-Regular.otf');
}
body {
  padding-top: 50px;
  font-size: 14px;
  font-family: 'Verlag Book';
}
a {
  color: gray;
  /*color: #00b7ff;*/
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.row h3 {
	text-align: center;
	padding-bottom: 20px;
}
.navlogo {
	height: 30px;
}
#logo {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
	margin: 0 auto;
}
#stories .thumbnail {
	padding-top: 10px;
	border: hidden;
	background-collapselor: transparent !important;
}
#topNav ul li {
	font-size: 16px;
}
#topNav .navbar-nav > li > a {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
}
#topNav .navbar {
	min-height: 32px !important;
}
.navbar-default {
	background-color: transparent !important;
}
#mainNav .navbar-default .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top; 
}
#mainNav .navbar-default .navbar-collapse {
	text-align: center;
}
#mainNav .navbar-default li {
	font-size: 20px;
	padding-right: 30px;
	padding-left: 30px;  
}
html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 30px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -30px; /* negative value of footer height */
	height: 30px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}