@font-face {
	font-family: 'Bebas Neue';
	src: url('/fonts/bebas-neue/BebasNeue.otf');
}
@font-face {
	font-family: 'Verlag Book';
	src: url('/fonts/verlag/Verlag-Book.otf');
}	
@font-face {
	font-family: 'Verlag Book Italic';
	src: url('/fonts/verlag/Verlag-BookItalic.otf');
}
@font-face {
	font-family: 'Minion Pro';
	src: url('/fonts/minion-pro/MinionPro-Regular.otf');
}
body {
  padding-top: 50px;
  font-size: 14px;
  font-family: 'Verlag Book' !important;
}
a {
  color: gray;
  color: #00b7ff;
}
header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
.row h3 {
	text-align: center;
	padding-bottom: 20px;
}
#logo {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 15px;
	margin: 0 auto;
}
#stories .thumbnail {
	padding-top: 10px;
	border: hidden;
	background-collapse: transparent !important;
}
#topNav ul li {
	font-size: 16px;
}
/*#topNav .navbar-nav > li > a {
	padding: 10px !important;
}*/
#topNav .navbar,
.modal-header,
.modal-footer {
	border:none !important;
	/*min-height: 32px !important;*/
	/*background: #eee !important;*/
}
#mainNav .navbar-default {
	background: transparent !important;
	border: none !important;
}
#mainNav .navbar-default .navbar-nav {
	display: inline-block;
	float: none;
	vertical-align: top; 
}
#mainNav .navbar-default .navbar-collapse {
	text-align: center;
}
#mainNav .navbar-default li {
	font-size: 20px;
	padding-right: 30px;
	padding-left: 30px;  
}

.navbar-brand {padding:0 !important;}

html, body {height: 100%;}

#wrap {min-height: 100%;}

#usermain {
	overflow: visible;
	padding-bottom: 30px;
	}  /* must be same height as the footer */

#userfooter {
	position: relative;
	margin-top: -30px; /* negative value of footer height */
	height: 30px;
	clear:both;
} 

#publicmain {overflow:visible;
	padding-bottom: 90px;}  /* must be same height as the footer */

#publicfooter {
	position: relative;
	margin-top: -90px; /* negative value of footer height */
	height: 90px;
	clear:both;
	/*background: #eee;*/
} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.check .btn span.glyphicon {    			
	opacity: 0;				
}
.check .btn.active span.glyphicon {				
	opacity: 1;				
}

.article-img {
	width:100%;
	height:200px;
	max-height:200px;
  overflow:hidden;
  border-radius:5px;
}

.article-tile {
	min-height: 385px;
	position: relative;
}

.full-width {
	width: 100%;
	position: absolute !important;
	bottom: 0;
}

.full-width.options a,
.full-width.options button {
	width: 33%;
	margin: 0;
	background: #fff;
	border: none;
	border-radius: none;
}

.full-width.secondary a,
.full-width.secondary button {
	width: 50%;
	margin: 0;
	background: #fff;
	border: none;
	border-radius: none;
}

.full-width a:hover,
.full-width a:active,
.full-width button:hover,
.full-width button:active {
	background: #eee;
	color: inherit;
}

.full-width .edit,
.full-width .confirm {
	border-bottom-left-radius: 5px;
}

.full-width .delete,
.full-width .cancel {
	border-bottom-right-radius: 5px;
}

.article-thumbnail img {
	max-height: 220px;
}

.article-thumbnail {
	min-height: 440px;
}