h1 {
	margin-top: 30px;
	margin-bottom: 30px;
}
/*#campus h1 {
	color: #625279;
}
#lifeAndCulture h1 {
	color: #5fc2b0;
}
#journey h1 {
	color: #fac411;
}*/
.section-header h1 {
	background-image: url("/images/section-header.png");
	background-repeat: repeat-x;
	line-height: 10px;
}
.section-header span {
	background: #FFF;
	padding-right: 10px;
}
.storyTitle {
	margin-bottom: 0;
}
.subhead {
	font-family: 'Verlag Book Italic';
}
.byline {
	font-family: 'Bebas Neue'; 
}
.story {
	font-family: 'Minion Pro';
}