#body {
    height: 200px;
    overflow: scroll;
}

#myname {
    padding-top : 7px;
    margin : 0;
}

#editInfo, #changePass, #uploadArticle {
	margin-top : 15px;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

#changePic {
	position: absolute;
	/*width: 100%;*/

}

#imgName {
	padding-top: 7px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}