.footer#publicfooter
	br
	//ul.list-inline.text-center
		li 
			a(href="/about") About
		li
			a(href="/contact") Contact 
		li
			a.i.fa.fa-facebook.text-primary(href='https://www.facebook.com/VeracityNU')
	#copyright
		- var year = new Date()
		br
		p.text-muted.text-center: small Copyright &copy; #{year.getFullYear()} Veracity Magazine. All rights reserved.