header
	#topNav
		nav.navbar.navbar-default.navbar-static-top(role="navigation")
			.container-fluid
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="/journey") Journey
						li
							a(href="/lifeandculture") Life &amp; Culture
						li
							a(href="/campus") Campus