header
	#topNav
		nav.navbar.navbar-default.navbar-static-top(role="navigation")
			.container-fluid
				a.brand.pull-left(href="/")
						img.navlogo(alt="Brand", src="/images/final-logo.png")
				.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href="/journey") Journey
						li
							a(href="/lifeandculture") Life &amp; Culture
						li
							a(href="/campus") Campus
					ul.nav.navbar-nav.navbar-right
						li 
							a(href="/about") About 
						li 
							a(href="/") Magazine
						li
							a(href="/contact") Contact 
						li
							a.i.fa.fa-facebook(href='https://www.facebook.com/VeracityNU')