#logo
	a(href="/")
		img.img-responsive.center-block.hidden-xs(src="/images/logo.png" alt="full logo")
		img.img-responsive.center-block.visible-xs(src="/images/final-logo.png" alt="small logo")
#mainNav
	nav.navbar.navbar-default(role="navigation")
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-2")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			.collapse.navbar-collapse#bs-example-navbar-collapse-2
				ul.nav.navbar-nav
					li
						a(href="/journey") Journey
					li
						a(href="/lifeandculture") Life &amp; Culture
					li
						a(href="/campus") Campus