extends ./index.jade
block content
	link(rel='stylesheet', href='/stylesheets/author-page.css')
	#author.col-xs-12.col-sm-4.col-md-4
		img.author-pic.img-rounded.img-responsive(src="/images/NoahConley.png", alt="...")
		h3 Staff Name | Position
		p.author-bio bio blah blah blah 
	#author-articles
		.col-xs-12.col-sm-8.col-md-8
			h3 Articles
			.col-xs-12.col-sm-6.col-md-6.article-thumbnail
				img.img-responsive.img-rounded(src="/images/300x200.jpg", alt="...")
				.caption
					h4 Article title
					p Article subttle 
					p.byline By You
			.col-xs-12.col-sm-6.col-md-6.article-thumbnail
				img.img-responsive.img-rounded(src="/images/300x200.jpg", alt="...")
				.caption
					h4 Article title
					p Article subttle 
					p.byline By You
			.col-xs-12.col-sm-6.col-md-6.article-thumbnail
				img.img-responsive.img-rounded(src="/images/300x200.jpg", alt="...")
				.caption
					h4 Article title
					p Article subttle 
					p.byline By You
			.col-xs-12.col-sm-6.col-md-6.article-thumbnail
				img.img-responsive.img-rounded(src="/images/300x200.jpg", alt="...")
				.caption
					h4 Article title
					p Article subttle 
					p.byline By You