extends ../index.jade
block content
	#journey
		.section-header.title
			h1
				span Journey
	#stories
		.row
			.col-xs-12.col-md-8
				.row
					.col-md-12
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Journey
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more.row
					.col-md-6
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Journey
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more
					.col-md-6
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Journey
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more
				.row
					.col-md-6
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Journey
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more
					.col-md-6
						.thumbnail
							a(href="#") 
								img(src="/images/300x200.jpg", alt="...")
							.caption
								h6 Issue One / Journey
								h4 story number 1 title goes here
								p blah blah blah 
								p
									a(href="#") read more
			.col-xs-12.col-md-4
				.thumbnail
					a(href="#") 
						img.img-responsive(src="/images/bloom.png", alt="...")
					.caption
						h4 Bloom
						p blah blah blah 
						p
							a(href="#") read more