#passModal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type="button", data-dismiss="modal")
					span(aria-hidden="true") &times;
					span.sr-only Close
				h4.modal-title Change password
			.modal-body
				#errormessage.alert.alert-danger.col-sm-10.col-sm-offset-1(style="display:none;")
				form.form-horizontal#passwordForm(enctype="multipart/form-data", role="form", name="changePassword")
					.form-group
						label.control-label.col-sm-4(for='#currentPass') Current Password
						.col-sm-6
							input.form-control#currentPass(required, data-required-msg='Please enter current password', type='password', name='current')
					.form-group
						label.control-label.col-sm-4(for='#newPass') New Password
						.col-sm-6
							input.form-control#newPass(required, data-required-msg='Please enter new password', type='password', name='new')
					.form-group
						label.control-label.col-sm-4(for='#retypePass') Retype Password
						.col-sm-6
							input.form-control#retypePass(required, data-required-msg='Please retype new password', type='password', name='retype')
			.modal-footer
				button.btn.btn-success#submitChange(type="button") Change
				button.btn.btn-danger#cancelChange(type="button", data-dismiss="modal") Cancel