extends ./layout

block content
	.row
		h1.col-sm-8.col-sm-offset-1=title
		#message
	.row
		if (articlelist.length)
			each article in articlelist
				.col-md-4.col-sm-6
					.thumbnail.article-tile
						include ../public/_article_card
						.btn-group.full-width(role="group")
							a.btn.text-primary.edit(href="editarticle/#{article._id}") Edit
							button.btn.text-danger.delete(type="button") Delete
						.btn-group.full-width(style="display:none", role="group")
							button.btn.text-success.confirm(type="button", value=article._id) Confirm
							button.btn.text-warning.cancel(type="button") Cancel
			else
				h2.col-sm-10.col-sm-offset-1 You have not uploaded any articles yet