extends ./layout

block content
	.row
		h1.col-sm-8.col-sm-offset-1=title
		#message
	.row
		form#formUploadArticle.form-horizontal(enctype="multipart/form-data", name="uploadarticle", method="post", action="/staff/uploadarticle", role="form")
			.form-group
				label.control-label.col-sm-2(for="#title") Title
				.col-sm-8
					input#title.form-control(required, type="text", name="title")
			.form-group
				label.control-label.col-sm-2(for="#subtitle") Subtitle
				.col-sm-8
					input#subtitle.form-control(required, type="text", name="subtitle")
			.form-group
				label.control-label.col-sm-2(for="#myID") Author
				.col-sm-2.text-center
					input#myID(type="hidden", name="author", value=current._id)
					p#myname=current.name.full
				.col-sm-2
					button#add.btn.btn-success(type="button", title="Add author")
						span.glyphicon.glyphicon-plus 
			.form-group.hidden
				.col-sm-2.col-sm-offset-2
					select.form-control(name="author")
						option(selected, disabled)
						each user, i in userlist
							option(value=user._id)=user.name.full
				.col-sm-2
					button.remove.btn.btn-danger(type="button", title="Remove author")
						span.glyphicon.glyphicon-minus
			.form-group
				label.control-label.col-sm-2(for="#section") Section
				.col-sm-3
					select#section.form-control(required, name="section")
						option(selected, disabled)
						option Journey
						option Bloom
						option Campus
						option Gray Area
						option Life &amp; Culture
						option Vera in the City
			.form-group
				label.control-label.col-sm-2(for="#body") Body
				.col-sm-8
					textarea#body.form-control(name="body")
			.form-group
				label.control-label.col-sm-2(for="#tags") Tags
				.col-sm-4
					input#tags.form-control(required, type="text", name="tags", placeholder="Separate each tag with a comma")
			.form-group
				label.control-label.col-sm-2(for='#uploadPic') Photo
				.col-sm-1
					span.btn.btn-default.btn-file Browse
						input#uploadPic(name='img', type='file')
				.col-sm-4
					p#imgName No file selected
			.form-group
				.col-sm-offset-2.col-sm-2
					button#submit.btn.btn-primary(type="submit") Submit